elk/certs/logstash-forwarder.crt
elk/certs/logstash-forwarder.key
elkb/sec/htpasswd.users
docker-registry-secure/certs/*.crt
docker-registry-secure/certs/*.key
docker-registry-secure/certs/passwd
local-server/docker-compose-custom.yml
*.swp
*.swo
